#info-bar{
    background: #20202a;
    width: 100%;
    min-width: 290px;
    height: calc(100vh - 30px);
    position: relative;
    z-index: 999;
    -webkit-box-shadow: 0 3px 8px 0 rgba(15, 15, 20, 0.2);
    box-shadow: 0 3px 8px 0 rgba(15, 15, 20, 0.2);
    -webkit-transition: 0.55s ease-in-out;
    transition: 0.55s ease-in-out;
}

.header{
    left: 0;
    top: 0;
    z-index: 99999;
    width: 100%;
    padding: 30px;
    height: 235px;
    background: linear-gradient(159deg, rgba(37, 37, 50, 0.98) 0%, rgba(35, 35, 45, 0.98) 100%);
    -webkit-box-shadow: 0 1px 4px 0 rgba(15, 15, 20, 0.1);
    box-shadow: 0 1px 4px 0 rgba(15, 15, 20, 0.1);
    color: aliceblue;
}

.header .name, .description{
    text-align: center;
}

.header .description{
    color: #8c8c8e;
}

.avatar{
    width: 90px;
    height: 90px;
    margin: 0 auto;
    border-radius: 50%;
    position: relative;
    margin-bottom: 15px;
}
.avatar img{
    position: absolute;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: 50%;
    z-index: 0;
}

.scroll-frame{
    padding-left: 25px;
    padding-right: 25px;
    overflow-y: scroll;
    padding-bottom: 50px;
}

.scroll-frame small{
    color: #8c8c8e;
}

.socials{
    background: linear-gradient(159deg, rgba(37, 37, 50, 0.98) 0%, rgba(35, 35, 45, 0.98) 100%);
    height: 50px;
    left: 0;
    bottom: 0;
    position: absolute;
    width: 100%;
    padding-left: 25px;
    padding-right: 25px;
}

.progress{
    height: 7px;
    --bs-progress-bar-bg: rgb(70, 62, 105);
    --bs-progress-bg: #191923;
}

.cv{
    position: relative;
    text-transform: uppercase;
    font-size: 10px;
    display: inline-block;
    letter-spacing: 1.5px;
    font-weight: 600;
    margin-right: 15px;
    margin-bottom: 10px;
    color: #8c8c8e;
    -webkit-transition: 0.4s ease-in-out;
    transition: 0.4s ease-in-out;
}

.cv a{
    color: #8c8c8e;
    text-decoration: none;
}

.socials{
    width: 100%;
    font-size: 25px;
}

.socials .hstack{
    width: 100%;
    height: 100%;
    justify-content: center;
}

.socials a{
    color: inherit;
}