.bg-dark-blue{
    background-color: #20202a;
}

.nav-link{
    color: #8c8c8e;;
}

#mobileHide{
    /* display: none; */
    position: relative;
    right: 15px;
    color: #8c8c8e;
}

@media only screen and (min-width: 993px){
    #mobileHide{
        display: none;
    }

}

@media only screen and (max-width: 576px){
    #mobileHide{
        position: relative;
        right: 38%;
    }

}